.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 529px){
  
  .featured{
    width: 100%;
    max-width: 310px;
    display: flex;
    display: inline-block;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    height: 150px;
    flex:1
  }
  
  .featuredTitles{
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
}

@media only screen and (min-width: 530px) and (max-width: 700px){
  
  .featured{
    width: 100%;
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
    flex:1
  }
  
  .featuredTitles{
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 880px){
  
  .featured{
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 220px;
    flex:1
  }
  
  .featuredTitles{
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
}

@media only screen and (min-width: 881px) and (max-width: 1080px){
  
  .featured{
    width: 100%;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex:1
  }
  
  .featuredTitles{
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
}